/* ************************************************************************** */
/*
* Paper V1.0
*
* This css can be use to give your webpage the appearance of a scientific paper
* written in Latex.
*
* Copyright 2015, Miguel González-Fierro
* Twitter: @miguelgfierro
* http://www.miguelgfierro.com
*
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
*/
/* ************************************************************************** */
/* Fonts */
@font-face {
    font-family: Latex;
    src: url(../font/cmunrm.woff);
}
@font-face {
    font-family: LatexBold;
    src: url(../font/cmunbx.woff);
}
@font-face {
    font-family: LatexItalic;
    src: url(../font/cmunti.woff);
}
@font-face {
    font-family: LatexBoldItalic;
    src: url(../font/cmunbi.woff);
}
/* ************************************************************************** */
/* Classes from Latex */
.title{
  text-transform: capitalize;
  font-variant: small-caps;
  font-size: 35px; 
  line-height: 40px; 
  text-align: center;
  margin: 9rem 0 0.5rem 0.5rem;
}
.abstract{
  text-align: justify;
  font-size: 14px;
}
.abstract:before{
  content: "Abstract—";
  font-family: LatexBoldItalic;
}
.author{
  font-size: 16px; 
  line-height: 21px;
  text-align: center;
}
.section{

}
.subsection{

}
.subsubsection{

}
.references{

}
.submission_date{

}
/* ************************************************************************** */
/* Basic styles*/
body {
  background: #aaa;
  color: #100;
  font-family: Latex, Georgia, serif;
}
h1,h2,h3,h4,h5,h6{
  font-family: Latex, Georgia, serif;
}
i{font-family: LatexItalic;}
bi{font-family: LatexBoldItalic;}
strong{
font-family: LatexBold;
}

