.container{position:relative;width:960px;margin:0 auto;padding:0}.container.plusfour{width:1200px}.container.pluseight{width:1440px}.column,.columns{float:left;display:inline;margin-left:10px!important;margin-right:10px!important}.row{margin-bottom:20px}.column.alpha,.columns.alpha{margin-left:0!important}.column.omega,.columns.omega{margin-right:0!important}.column.alpha.omega,.columns.alpha.omega{margin:0!important}.container .one.column{width:40px}.container .columns.two{width:100px}.container .columns.three{width:160px}.container .columns.four{width:220px}.container .columns.five{width:280px}.container .columns.six{width:340px}.container .columns.seven{width:400px}.container .columns.eight{width:460px}.container .columns.nine{width:520px}.container .columns.ten{width:580px}.container .columns.eleven{width:640px}.container .columns.twelve{width:700px}.container .columns.thirteen{width:760px}.container .columns.fourteen{width:820px}.container .columns.fifteen{width:880px}.container .columns.sixteen{width:940px}.container .columns.twenty{width:1200px}.container .columns.twentyfour{width:1420px}.container .one-third.column{width:300px}.container .two-thirds.column{width:620px}.container .offset-by-one{padding-left:60px}.container .offset-by-two{padding-left:120px}.container .offset-by-three{padding-left:180px}.container .offset-by-four{padding-left:240px}.container .offset-by-five{padding-left:300px}.container .offset-by-six{padding-left:360px}.container .offset-by-seven{padding-left:420px}.container .offset-by-eight{padding-left:480px}.container .offset-by-nine{padding-left:540px}.container .offset-by-ten{padding-left:600px}.container .offset-by-eleven{padding-left:660px}.container .offset-by-twelve{padding-left:720px}.container .offset-by-thirteen{padding-left:780px}.container .offset-by-fourteen{padding-left:840px}.container .offset-by-fifteen{padding-left:900px}.container:after{content:"\0020";display:block;height:0;clear:both;visibility:hidden}.clearfix:before,.clearfix:after,.row:before,.row:after{content:'\0020';display:block;overflow:hidden;visibility:hidden;width:0;height:0}.row:after,.clearfix:after{clear:both}.row,.clearfix{zoom:1}.clear{clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0}



body {
  background: #777 url(../images/background.jpg);
  color: #100;
  font-family: Latex, Georgia, serif;
}

p {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  text-align: justify;
  font-size: 16px;
  text-indent: 30px;
  margin: 0px;
}
p.no-indent {
  text-indent: 0px;
}

.container {
  margin: 3rem auto;
  background: #fafafa url(../images/paper.png);
  padding-top: 5rem;
  padding-bottom: 7rem;

  -moz-box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.5);
}

h1,h2,h3,h4,h5,h6{
  font-family: Latex, Georgia, serif;
}

h1,h2{
  text-transform: capitalize;
  font-variant: small-caps;
}

h4, h5 {
  margin-top: 1rem;
  font-family: LatexBold, Georgia, serif;
}

/*i { font-style: italic; }*/
i{font-family: LatexItalic;}
bi{font-family: LatexBoldItalic;}
strong{
font-family: LatexBold;
color: #111;
}

.content {
  position: relative;
}

#contents p {
  font-size: 16px;
}

p.item {
  padding-left: 2rem;
  text-indent: 0px;
}
p.item:before {
  content: '•';
  font-size: 14px;
  position: relative;
  bottom: 2px;
}

p.wrap:before {
  content: '';
}
p.wrap {
  text-indent: 0px;
}
