{% extends "mobile/blog/post_base.html" %}
{% load staticfiles %}
{% load social %}
{% load current_site %}
{% block title %}
{{ flatpage.title }}
{% endblock %}
{% block headers %}
<!-- meta tags -->
<meta name="description" content="About Miguel González-Fierro: activities, research, education and contact.">
<meta name="author" content="Miguel González-Fierro">
<link rel="canonical" href="{% http_or_https %}{% current_site %}{{ flatpage.url }}"> 
{% endblock %} 

{% block content %}

<!-- Open tag -->
<meta property="og:url" content="{% http_or_https %}{% current_site %}{{ flatpage.url }}" />
<meta property="og:type" content="website" />
<meta property="og:title" content="{{ flatpage.title }}" />
<meta property="og:description" content="About Miguel González-Fierro: activities, research, education and contact." />
<meta property="og:image" content="{% http_or_https %}{% current_site %}{% static 'blog/img/author.png' %}" />
<meta property="og:image:type" content="image/jpeg">
<meta name="twitter:card" content="summary_large_image">

<!-- Page building -->
<div class="container">
    <div class="row">
        <div class="two columns">&nbsp;</div>
        <div class="twelve columns">
            <h1 class="title" style="padding-bottom:1rem;padding-top:8rem;"> {{ flatpage.title }}</h1>
        </div>
        <div class="two columns">&nbsp;</div>
    </div>

    <div class="row">
        <div class="one columns">&nbsp;</div>
        <div class="fourteen columns ">
            {{ flatpage.content }}
        </div>
        <div class="one columns">&nbsp;</div>
    </div>
</div>

<!-- footer-->
<div class="footer container-footer" style="padding: 2rem 0rem 0.5rem;">
    <a href="{% twitter_url %}" target="_blank">Twitter</a> •
    <a href="{% linkedin_url %}" target="_blank">Linkedin</a> •
    <a href="{% rss_url %}" target="_blank">RSS</a>
    <br>
    Designed by Miguel González-Fierro -
    <a style="padding:0px;" href="https://github.com/miguelgfierro/sciblog" target="_blank">Github</a>
</div>

{% endblock %}