{% extends 'base.html' %}
{% block title %}Welcome to my blog{% endblock %}

{% block content %}
    <h2>Categories</h2>
    {% if categories %}
        <ul>
        {% for category in categories %}
            <!--<li><a href="{{ category.get_absolute_url }}">{{ category.title }}</a></li>-->
            <li>{{ category.title }}</li>
        {% endfor %}
        </ul>
    {% else %}
        <p>There are no posts.</p>
    {% endif %}

    <h2>Posts</h2>
    {% if posts %}
        <ul>
            {% for post in posts %}
            <!--<li><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></li>-->
            <li>{{ post.title }}</li>
            <p>{{ post.body }}</p>
        {% endfor %}
        </ul>
    {% else %}
        <p>There are no posts.</p>
    {% endif %}

{% endblock %}