/* ************************************************************************** */
/*
* Paper V1.0
*
* This css can be use to give your webpage the appearance of a scientific paper
* written in Latex.
*
* Copyright 2015, Miguel Gonzalez-Fierro
* Twitter: @miguelgfierro
* http://www.miguelgfierro.com
* Github: https://github.com/hoaphumanoid/
*
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
*/
/* ************************************************************************** */
/* Fonts */
@font-face {
    font-family: Latex;
    src: url(../font/cmunrm.woff);
}
@font-face {
    font-family: LatexBold;
    src: url(../font/cmunbx.woff);
}
@font-face {
    font-family: LatexItalic;
    src: url(../font/cmunti.woff);
}
@font-face {
    font-family: LatexBoldItalic;
    src: url(../font/cmunbi.woff);
}
/* ************************************************************************** */
/* Classes from Latex */
.title{
  text-transform: capitalize;
  font-variant: small-caps;
  font-size: 35px; 
  line-height: 40px; 
  text-align: center;
  margin: 9rem 0 0.5rem 0.5rem;
}
.abstract{
  text-align: justify;
  font-size: 14px;
  margin-bottom:0.5rem;
}
.abstract:before{
  content: "Abstract— ";
  font-family: LatexBoldItalic;
}
.keywords{
  text-align: justify;
  font-size: 14px;
  margin-bottom:0.5rem;
}
.keywords:before{
  content: "Keywords: ";
  font-family: LatexItalic;
}
.author{
  font-size: 16px; 
  line-height: 21px;
  text-align: center;
  margin-bottom: 0.5rem;
}
.submission-date{
  font-size: 14px;
  text-align: center;
}
.submission-date:before{
  content: "Submission date: ";
}
.section{
  font-size: 21px; 
  line-height: 30px;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  font-family: LatexBold;
}
.subsection{
  font-size: 18px; 
  line-height: 24px;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-family: LatexBold;
}
.subsubsection{
  font-size: 18px; 
  line-height: 21px;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.image{
  text-align: center;
}
.image img{
  width:300px;
}
.image .image_caption{
  font-size: 14px;
  margin-bottom:0.5rem;
}
.image .image_caption:before{
  content: "Fig: ";
  font-family: LatexBoldItalic;
}
.references{
  font-size: 14px; 
  padding-left: 1rem;
  text-indent: 0px;
  text-align: justify;
  counter-reset:li; /* Initiate a counter */
  list-style:none; /* Disable the normal item numbering */
}
.references li:before{
  content:'['counter(li)']'; /* Use the counter as content */
  counter-increment:li; /* Increment the counter by 1 */
  /*list-style-type: decimal;*/
}

/* ************************************************************************** */
/* Basic styles*/
body {
  background: #e9e8ed url("../img/gradient_texture10.jpg") repeat-x scroll 0px 0px;
  color: #100;
  font-family: Latex, Georgia, serif;
}
h1,h2,h3,h4,h5,h6{
  font-family: Latex, Georgia, serif;
}
i{font-family: LatexItalic;}
bi{font-family: LatexBoldItalic;}
strong{font-family: LatexBold;}
.container .columns.six{
  margin-top: 1rem;
}
p {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  text-align: justify;
  font-size: 16px;
  text-indent: 30px;
  margin: 0px;
}
p.no-indent {
  text-indent: 0px;
}
p.item {
  padding-left: 2rem;
  text-indent: 0px;
}
p.item:before {
  content: '•';
  font-size: 14px;
  position: relative;
  bottom: 2px;
}
p.wrap:before {
  content: '';
}
p.wrap {
  text-indent: 0px;
}
.container{
  height:1133px;
}
