/* ************************************************************************** */
/*
* Paper V1.0
*
* This css can be use to give your webpage the appearance of a scientific paper
* written in Latex.
*
* Copyright 2015, Miguel Gonzalez-Fierro
* Twitter: @miguelgfierro
* http://www.miguelgfierro.com
* Github: https://github.com/hoaphumanoid/
*
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
*/
/* ************************************************************************** */
/* Fonts */
@font-face {
    font-family: Latex;
    src: url(../font/cmunrm.woff);
}
@font-face {
    font-family: LatexBold;
    src: url(../font/cmunbx.woff);
}
@font-face {
    font-family: LatexItalic;
    src: url(../font/cmunti.woff);
}
@font-face {
    font-family: LatexBoldItalic;
    src: url(../font/cmunbi.woff);
}
/* ************************************************************************** */
/* Classes from Latex */
h1,h2,h3,h4,h5,h6{
  font-family: Latex, Georgia, serif;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  line-height: inherit;
}
h1.title{
  text-transform: capitalize;
  font-variant: small-caps;
  font-size: 35px;
  line-height: 40px;
  text-align: center;
  margin: 6rem 0 0.5rem 0.5rem;
}
h1.title a,a:visited{
  text-decoration:none;
  color:#000;
}
h1.title a:hover{
  text-decoration:underline;
}
h2.keywords{
  text-align: justify;
  font-size: 14px;
  margin-bottom:0.5rem;
}
h2.keywords:before{
  content: "Keywords: ";
  font-family: LatexItalic;
}
h3.abstract{
  text-align: justify;
  font-size: 14px;
  margin-bottom:0.5rem;
}
h3.abstract:before{
  content: "Abstract— ";
  font-family: LatexBoldItalic;
}
.author{
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  margin-bottom: 0.5rem;
}
.submission-date{
  font-size: 14px;
  text-align: center;
}
.submission-date:before{
  content: "Submission date: ";
}
.submission-date-list{
  font-size: 14px;
  text-align: center;
}
.section{
  font-size: 21px;
  line-height: 30px;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  font-family: LatexBold;
}
.subsection{
  font-size: 18px;
  line-height: 24px;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-family: LatexBold;
}
.subsubsection{
  font-size: 18px;
  line-height: 21px;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.image{
  text-align: center;
}
.image img{
  width:300px;
}
.image .image-caption{
  font-size: 14px;
  margin-bottom:0.5rem;
}
.image .image-caption:before{
  content: "Fig: ";
  font-family: LatexBoldItalic;
}
.references{
  font-size: 14px;
  padding-left: 1rem;
  text-indent: 0px;
  text-align: justify;
  counter-reset:li; /* Initiate a counter */
  list-style:none; /* Disable the normal item numbering */
}
.references li:before{
  content:'['counter(li)']'; /* Use the counter as content */
  counter-increment:li; /* Increment the counter by 1 */
  /*list-style-type: decimal;*/
}

/* ************************************************************************** */
/* Basic styles*/
body {
  background: #e9e8ed url("../img/gradient_texture10.jpg") repeat-x scroll 0px 0px;
  color: #100;
  font-family: Latex, Georgia, serif;
}
i{font-family: LatexItalic;}
bi{font-family: LatexBoldItalic;}
strong{font-family: LatexBold;}
.container .columns.six{
  margin-top: 1rem;
}
p {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  text-align: justify;
  font-size: 16px;
  text-indent: 30px;
  margin: 0px;
}
p.no-indent {
  text-indent: 0px;
}
p.item {
  padding-left: 2rem;
  text-indent: 0px;
}
p.item:before {
  content: '•';
  font-size: 14px;
  position: relative;
  bottom: 2px;
}
p.wrap:before {
  content: '';
}
p.wrap {
  text-indent: 0px;
}
.container{
  height:1133px;
  padding-top:2rem;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.5);
}
.container-list{
  margin: 2rem auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
  height: auto;
}

.container-footer{
  position: relative;
  width: 960px;
  text-align: center;
  background: #FAFAFA none repeat scroll 0% 0%;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.5);
  margin-top: 2rem;
  margin-right: auto;
  margin-bottom: 0rem;
  margin-left: auto;
  padding-top: 2rem;
  padding-right: 0rem;
  padding-bottom: 3rem;
  padding-left: 0rem;
  font-size: 14px;
}
.container-footer a, a:visited{
  text-decoration:none;
  padding: 0rem 2rem;
}
.wrapper {
min-height: 100%;
height: auto !important;
height: 100%;
margin: 0 auto -4rem;
}
.footer, .push {
  height: 4rem;
}
.pager{
  font-size: 18px;
}
.pager hr{
  width: 80%;
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
  margin: 1rem auto;
}
.social-icons{
  text-align:right;
  text-decoration:none;
  padding: 0rem 0.5rem;
  opacity: 0.7;
}
.social-icons:hover{
  opacity: 1;
}
.navigation-bar{
  height: 46px;
  position: relative;
  width: 100%;
  background: #000 none repeat scroll 0% 0%;
  min-width: 960px;
}
.navigation-bar-container{
  width:960px;
  height: 46px;
  text-align: center;
  margin: 0px auto;
  overflow: hidden;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size:16px;
  text-align: center;
}
.navigation-bar-home{
  background-image: url("../img/hoap_small.png");
  display:block;
  background-position: left top;
  background-repeat: no-repeat;
  float:left;
  margin-bottom: 5px;
  height: 46px;
}
.navigation-bar-home-text{
  float:left;
  width: 50px;
  padding-top: 11px;
  padding-left: 65px;
  padding-bottom: 10px;
}
a.navigation-bar-home-text{
  color:#FFF;
  text-decoration:none;
}
a:hover.navigation-bar-home-text{
  border-bottom: 5px solid #FFF;
  /*transition: all 0.15s ease-in-out 0s;*/
}
.navigation-bar-item{
  height: 46px;
  width: 90px;
  position:relative;
  float:left;
}
.navigation-bar-item-text{
  float:left;
  padding-top: 11px;
  padding-left: 25px;
  padding-bottom: 10px;
  padding-right: 23px;
}
a.navigation-bar-item-text{
  color:#FFF;
  text-decoration:none;
}
a:hover.navigation-bar-item-text{
  border-bottom: 5px solid #FFF;
}
.navigation-bar-search{
  float: left;
  position: relative;
}
input.navigation-bar-search-input{
float:left;
  background-color: rgba(255, 255, 255, 0.9);
  margin-top: 7px;
  margin-bottom: 0px;
  padding-bottom: 5px;
}
.navigation-bar-search-icon{
  background-image: url("../img/icon_search.png");
  background-position: right top;
  background-repeat: no-repeat;
  cursor:pointer;
}
