.container {
    position: relative;
    margin: 0 auto;
    padding: 0
}

.columns {
    float: left;
    display: inline;
}

.row {
    margin-bottom: 20px
}

.columns.alpha {
    margin-left: 0!important
}

.columns.omega {
    margin-right: 0!important
}

.columns.alpha.omega {
    margin: 0!important
}

.container .columns.one {
    width: 6.25%;
}

.container .columns.two {
    width: 12.5%;
}

.container .columns.three {
    width: 18.75%;
}

.container .columns.four {
    width: 25%;
}

.container .columns.five {
    width: 31.25%;
}

.container .columns.six {
    width: 37.5%;
}

.container .columns.seven {
    width: 43.75%;
}

.container .columns.eight {
    width: 50%;
}

.container .columns.nine {
    width: 56.25%;
}

.container .columns.ten {
    width: 62.5%;
}

.container .columns.eleven {
    width: 68.75%;
}

.container .columns.twelve {
    width: 75%;
}

.container .columns.thirteen {
    width: 81.25%;
}

.container .columns.fourteen {
    width: 87.5%;
}

.container .columns.fifteen {
    width: 93.75%;
}

.container .columns.sixteen {
    width: 100%;
}


.container:after {
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden
}

.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
    content: '\0020';
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

.row:after,
.clearfix:after {
    clear: both
}
.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}
.container {
    margin: 3rem auto;
    background: #fafafa;
    padding-top: 5rem;
    padding-bottom: 7rem;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.5);
}

.content {
    position: relative;
}