{% extends "blog/post_base.html" %}
{% load staticfiles %}
{% load current_site %}
{% load social %}

{% block title %}
        {{ flatpage.title }}
{% endblock %}

{% block headers %}

    <!-- Open tag for Facebook. Add here your app_id -->
    <meta property="fb:app_id"      content="{% facebook_id %}"/>
    <meta property="og:url"         content="http://{% current_site %}{{ flatpage.url }}" />
    <meta property="og:type"        content="article" />
    <meta property="og:title"       content="{{ flatpage.title }}" />
    <meta property="og:image"       content="http://{% current_site %}{% static 'blog/img/author.png' %}" />

{% endblock %}

{% block content %}

<!--Facebook share dialog script -->
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '{% facebook_id %}',
      xfbml      : true,
      version    : 'v2.5'
    });
  };
  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
FB.ui({
  method: 'share_open_graph',
  action_type: 'og.likes',
  action_properties: JSON.stringify({
      object:'http://{% current_site %}{{ flatpage.url }}',
  })
}, function(response){});
</script>

<div class="container">

    <!-- Social buttons -->
    <!--<div class="row">
        <div class="four columns">&nbsp;</div>
        <div class="eight columns">&nbsp;</div>
        <div class="four columns">
        <a class="social-icons"  href="https://www.facebook.com/dialog/share?app_id={% facebook_id %}&display=popup&href=http://{% current_site %}{{ flatpage.url }}&redirect_uri=http://{% current_site %}{{ flatpage.url }}">
            <img src="{% static 'blog/img/facebook_circle_black-32.png' %}" width="32px" alt="">
        </a>
        <a class="social-icons"  href="https://twitter.com/intent/tweet?text={{ flatpage.title }}&url=http://{% current_site %}{{ flatpage.url }}&via={% twitter_handle %}">
            <img src="{% static 'blog/img/twitter_circle_black-32.png' %}" width="32px" alt="">
        </a>
        <a class="social-icons"  href="https://www.linkedin.com/shareArticle?mini=true&text={{ flatpage.title }}&url=http://{% current_site %}{{ flatpage.url }}">
            <img src="{% static 'blog/img/linkedin_circle_black-32.png' %}" width="32px" alt="">
        </a>
        <a class="social-icons"  href="https://plus.google.com/share?url=http://{% current_site %}{{ flatpage.url }}">
            <img src="{% static 'blog/img/googleplus_circle_black-32.png' %}" width="32px" alt="">
        </a>
        </div>
    </div>-->

    <div class="row">
        <div class="three columns">&nbsp;</div>
        <div class="ten columns">
            <h1 class="title" style="padding-bottom:1rem;padding-top:1.5rem;"> {{ flatpage.title }}</h1>
            <div class="image">
                <img src="{% static 'blog/img/author.png' %}" style="width: 200px;" >
                <div class="image-caption">This is the face of {{ flatpage.title }}. <br>He also has a body, although it is
                    not pictured here.</div>
            </div>
        </div>
        <div class="three columns">&nbsp;</div>
    </div>

    <div class="row">
        <div class="two columns">&nbsp;</div>
        <!-- Add text with this format in flatpage content -->
        <!--<div class="six columns content">
            <p>Text first column</p>
        </div>
        <div class="six columns content">
            <p>Text second column</p>
        </div>-->
        {{ flatpage.content }}
        <div class="two columns">&nbsp;</div>
    </div>
</div>

{% endblock %}
