<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<html lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <title>{% block title %}Sciblog - A blog designed like a scientific Latex paper{% endblock %}</title>
  <meta name="description" content="Sciblog - A blog designed like a scientific Latex paper">
  <meta name="author" content="Miguel González-Fierro">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  {% load staticfiles %}
  <link rel="stylesheet" href="{% static 'blog/css/base.css' %}">
  <link rel="stylesheet" href="{% static 'blog/css/skeleton.css' %}">
  <link rel="stylesheet" href="{% static 'blog/css/layout.css' %}">
  <link rel="stylesheet" href="{% static 'blog/css/paper.css' %}">
  <!--<script src="js/ga.js" async="" type="text/javascript"></script>
  <script src="js/jquery.js"></script>
  <script src="js/layout.js"></script>-->
</head>
<body>

  {% block content %}

  {% endblock %}

  
  <!-- scripts -->
  <script type="text/javascript">
    //Layout.render("#contents");

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-37354757-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>


</body>
</html>
