<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<html lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <title>{% block title %}Sciblog - A blog designed like a scientific Latex paper{% endblock %}</title>
  <meta name="description" content="Sciblog - A blog designed like a scientific Latex paper">
  <meta name="author" content="Miguel González-Fierro">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  {% block headers %}
  <!-- Add headers in the child templates -->
  {% endblock %}

  {% load staticfiles %}
  <link rel="stylesheet" href="{% static 'blog/css/base.css' %}">
  <link rel="stylesheet" href="{% static 'blog/css/skeleton.css' %}">
  <link rel="stylesheet" href="{% static 'blog/css/layout.css' %}">
  <link rel="stylesheet" href="{% static 'blog/css/paper.css' %}">


    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
  <!--<script src="{% static 'blog/js/ga.js' %}" async="" type="text/javascript"></script>
  <script src="{% static 'blog/js/jquery.js' %}"></script>
  <script src="{% static 'blog/js/layout.js' %}"></script>-->
</head>
<body>

    <div class="wrapper">
  {% block content %}

  {% endblock %}
    <div class="push"></div>
    </div>


    <!-- Pages -->
      {% if page_obj.paginator %}
      <div class="footer container-footer">
        <div class="pager">
        {% if page_obj.has_previous %}
            <a href="/blog/{{ page_obj.previous_page_number }}">«</a>
        {% endif %}
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        {% if page_obj.has_next %}
            <a href="/blog/{{ page_obj.next_page_number }}">»</a>
        {% endif %}
          <hr>
        </div>
        {% else %}
      <div class="footer container-footer" style="padding: 2rem 0rem 0.5rem;">

      {% endif %}

      <a href="#">Twitter</a> •
      <a href="#">Linkedin</a> •
      <a href="#">About</a>
      <br>
      Proudly designed by Miguel González-Fierro and his robot -
      <a style="padding:0px;" href="https://github.com/hoaphumanoid/sciblog">Github</a>

    </div>
  
  <!-- scripts -->
  <script type="text/javascript">
    //Layout.render("#contents");

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-37354757-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>




</body>
</html>
