{% extends "blog/post_base.html" %}

{% block content %}

<!-- Page one -->
<div class="container">
    <div class="row">
        <div class="three columns">&nbsp;</div>
        <div class="ten columns">
            <div class="title"> {{ object.title }}</div>
            {% if object.authors %}
            <div class="author"> {{ object.authors }}</div>
            {% endif %}
            <div class="submission-date"> {{ object.pub_date }}</div>
        </div>
        <div class="three columns">&nbsp;</div>
    </div>

    {% if object.abstract %}
    <div class="row" style="margin-bottom:10px">
        <div class="four columns">&nbsp;</div>
        <div class="eight columns">
            <div class="abstract"> {{ object.abstract }}</div>
        </div>
        <div class="four columns">&nbsp;</div>
    </div>
    {% endif %}

    {% if object.keywords %}
    <div class="row" style="margin-bottom:10px">
        <div class="four columns">&nbsp;</div>
        <div class="eight columns">
            <div class="keywords">{{ object.keywords }}</div>
        </div>
        <div class="four columns">&nbsp;</div>
    </div>
    {% endif %}

    <div class="row">
        <div class="two columns">&nbsp;</div>
        <div class="six columns content">
            {{ object.body_page1_col1_html|safe}}
        </div>
        <div class="six columns content">
            {% if object.image %}
            <div class="image">
                <img src="http://{{ object.site }}{{ object.image.url }}" />
                <div class="image_caption">{{ object.image_caption }}</div>
            </div>
            {% endif %}
            {{ object.body_page1_col2_html|safe}}
        </div>
        <div class="two columns">&nbsp;</div>
    </div>
</div>

<!-- Page two -->
{% if object.body_page2_col1 %}
<div class="container">
    <div class="row">
        <div class="two columns">&nbsp;</div>
        <div class="six columns content">
            {{ object.body_page2_col1_html|safe}}
        </div>
        <div class="six columns content">
            {{ object.body_page2_col2_html|safe}}
        </div>
        <div class="two columns">&nbsp;</div>
    </div>
</div>

{% endif %}






{% endblock %}
