{% extends "blog/post_base.html" %}
{% load staticfiles %}

{% block title %}
        {{ object.title }}
{% endblock %}

{% block headers %}

    <!-- Open tag for Facebook. Add here your app_id -->
    <meta property="fb:app_id"      content="556883141128364"/>
    <meta property="og:url"         content="http://{{ object.site }}{{ object.get_absolute_url }}" />
    <meta property="og:type"        content="article" />
    <meta property="og:title"       content="{{ object.title }}" />
    {% if object.abstract %}
    <meta property="og:description" content="{{ object.abstract }}" />
    {% endif %}
    {% if object.image %}
    <meta property="og:image"       content="http://{{ object.site }}{{ object.image.url }}" />
    {% else %}
    <meta property="og:image"       content="http://{{ object.site }}/img/hoaphumanoid.png" />
    {% endif %}

{% endblock %}


{% block content %}


<!--Facebook share dialog script -->
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '556883141128364',
      xfbml      : true,
      version    : 'v2.5'
    });
  };
  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
FB.ui({
  method: 'share_open_graph',
  action_type: 'og.likes',
  action_properties: JSON.stringify({
      object:'http://{{ object.site }}{{ object.get_absolute_url }}',
  })
}, function(response){});
</script>


<!-- Page one -->
<div class="container">
            <!-- Social buttons -->
        <div class="row">
            <div class="four columns">&nbsp;</div>
            <div class="eight columns">&nbsp;</div>
            <div class="four columns">
            <a class="social-icons"  href="https://www.facebook.com/dialog/share?app_id=556883141128364&display=popup&href=http://{{ object.site }}{{ object.get_absolute_url }}&redirect_uri=http://{{ object.site }}">
                <img src="{% static 'blog/img/facebook_circle_black-32.png' %}" width="32px" alt="">
            </a>
            <a class="social-icons"  href="https://twitter.com/intent/tweet?text={{ object.title }}&url=http://{{ object.site }}{{ object.get_absolute_url }}&via=miguelgfierro">
                <img src="{% static 'blog/img/twitter_circle_black-32.png' %}" width="32px" alt="">
            </a>
                {% if object.abstract %}
                <a class="social-icons"  href="https://www.linkedin.com/shareArticle?mini=true&text={{ object.title }}&url=http://{{ object.site }}{{ object.get_absolute_url }}&summary={{ object.abstract }}">
                    <img src="{% static 'blog/img/linkedin_circle_black-32.png' %}" width="32px" alt="">
                </a>
                {% else %}
                <a class="social-icons"  href="https://www.linkedin.com/shareArticle?mini=true&text={{ object.title }}&url=http://{{ object.site }}{{ object.get_absolute_url }}">
                    <img src="{% static 'blog/img/linkedin_circle_black-32.png' %}" width="32px" alt="">

                </a>
                {% endif %}
            <a class="social-icons"  href="https://plus.google.com/share?url=http://{{ object.site }}{{ object.get_absolute_url }}">
                <img src="{% static 'blog/img/googleplus_circle_black-32.png' %}" width="32px" alt="">

            </a>
            </div>
        </div>

    <div class="row">
        <div class="three columns">&nbsp;</div>
        <div class="ten columns">
            <h1 class="title"> {{ object.title }}</h1>
            {% if object.authors %}
            <div class="author"> {{ object.authors }}</div>
            {% endif %}
            <div class="submission-date"> {{ object.pub_date }}</div>
        </div>
        <div class="three columns">&nbsp;</div>
    </div>

    {% if object.abstract %}
    <div class="row" style="margin-bottom:10px">
        <div class="four columns">&nbsp;</div>
        <div class="eight columns">
            <h3 class="abstract"> {{ object.abstract }}</h3>
        </div>
        <div class="four columns">&nbsp;</div>
    </div>
    {% endif %}

    {% if object.keywords %}
    <div class="row" style="margin-bottom:10px">
        <div class="four columns">&nbsp;</div>
        <div class="eight columns">
            <h2 class="keywords">{{ object.keywords }}</h2>
        </div>
        <div class="four columns">&nbsp;</div>
    </div>
    {% endif %}

    <div class="row">
        <div class="two columns">&nbsp;</div>
        <div class="six columns content">
            {{ object.body_page1_col1_html|safe}}
        </div>
        <div class="six columns content">
            {% if object.image %}
            <div class="image">
                <img src="http://{{ object.site }}{{ object.image.url }}" />
                <div class="image-caption">{{ object.image_caption }}</div>
            </div>
            {% endif %}
            {{ object.body_page1_col2_html|safe}}
        </div>
        <div class="two columns">&nbsp;</div>
    </div>
</div>

<!-- Page two -->
{% if object.body_page2_col1 %}
<div class="container">
    <div class="row">
        <div class="two columns">&nbsp;</div>
        <div class="six columns content">
            {{ object.body_page2_col1_html|safe}}
        </div>
        <div class="six columns content">
            {{ object.body_page2_col2_html|safe}}
        </div>
        <div class="two columns">&nbsp;</div>
    </div>
</div>

{% endif %}






{% endblock %}
