<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<html lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <title>{% block title %} {% endblock %}</title>
  <meta name="description" content="Sciblog - A blog designed like a scientific Latex paper. Posts are about  technological business, startups, science, artificial intelligence, robotics and machine learning.">
  <meta name="author" content="Miguel González-Fierro">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  {% load staticfiles %}
  <link rel="icon" href="{% static 'blog/img/favicon.ico' %}">
  <link rel="apple-touch-icon" href="{% static 'blog/img/apple-touch-icon.png' %}" >
  <link rel="apple-touch-icon" sizes="72x72" href="{% static 'blog/img/apple-touch-icon-72x72.png' %}">
  <link rel="apple-touch-icon" sizes="114x114" href="{% static 'blog/img/apple-touch-icon-114x114.png' %}">

  {% block headers %}
  <!-- Add headers in the child templates -->
  {% endblock %}

  <link rel="stylesheet" href="{% static 'blog/css/base.css' %}">
  <link rel="stylesheet" href="{% static 'blog/css/skeleton.css' %}">
  <link rel="stylesheet" href="{% static 'blog/css/layout.css' %}">
  <link rel="stylesheet" href="{% static 'blog/css/paper.css' %}">


  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
  <!--<script src="{% static 'blog/js/ga.js' %}" async="" type="text/javascript"></script>
  <script src="{% static 'blog/js/jquery.js' %}"></script>
  <script src="{% static 'blog/js/layout.js' %}"></script>-->

</head>
<body>

    <div class="wrapper">
  {% block content %}

  {% endblock %}
    <div class="push"></div>
    </div>


    <!-- Pages -->
      {% if page_obj.paginator %}
      <div class="footer container-footer">
        <div class="pager">
        {% if page_obj.has_previous %}
            <a href="/{{ page_obj.previous_page_number }}">«</a>
        {% endif %}
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        {% if page_obj.has_next %}
            <a href="/{{ page_obj.next_page_number }}">»</a>
        {% endif %}
          <hr>
        </div>
        {% else %}
      <div class="footer container-footer" style="padding: 2rem 0rem 0.5rem;">

      {% endif %}

      <a href="https://twitter.com/miguelgfierro">Twitter</a> •
      <a href="https://es.linkedin.com/in/miguelgfierro">Linkedin</a> •
      <a href="#">About</a>
      <br>
      Proudly designed by Miguel González-Fierro and his robot -
      <a style="padding:0px;" href="https://github.com/hoaphumanoid/sciblog">Github</a>

    </div>
  
  <!-- scripts Google Analytics -->
  <script>
    //Layout.render("#contents");

    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-70996723-1', 'auto');
    ga('send', 'pageview');
    //ga(‘set’, ‘&uid’, {{USER_ID}});

  </script>
  <!-- SEO: add link to social networks -->
  <script type="application/ld+json">
  {
    "@context" : "http://schema.org",
    "@type" : "Blog",
    "name" : "miguelgfierro",
    "url" : "https://miguelgfierro.com",
    "sameAs" : [
      "https://twitter.com/miguelgfierro",
      "https://plus.google.com/+MiguelGonzalezFierro",
      "https://es.linkedin.com/in/miguelgfierro"
    ]
  }
  </script>



</body>
</html>
