<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<html lang="en">

<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>{% block title %} {% endblock %}</title>

  <!-- Load template tags -->
  {% load staticfiles %} {% load current_site %} {% load flatpages %} {% get_flatpages '/about/' as about_pages %}
  <!-- gets about page, it returns a list so we need to iterate -->
  {% load social %} {% load analytics %}

  <link rel="icon" href="{% static 'blog/img/favicon.ico' %}">
  <link rel="apple-touch-icon" href="{% static 'blog/img/apple-touch-icon.png' %}">
  <link rel="apple-touch-icon" sizes="72x72" href="{% static 'blog/img/apple-touch-icon-72x72.png' %}">
  <link rel="apple-touch-icon" sizes="114x114" href="{% static 'blog/img/apple-touch-icon-114x114.png' %}">

  <link rel="stylesheet" href="{% static 'blog/css/skeleton.min.css' %}">
  <link rel="stylesheet" href="{% static 'blog/css/paper_mobile.min.css' %}">

  {% block headers %}
  <!-- Add headers in the child templates -->
  {% endblock %}

  <!-- scripts Google Analytics:
    - using ga-lite: smaller, cacheable subset of Google Analytics JS client
    - do not track localhost when debugging -->
  {% if not debug %}
  <script>
    (function (e, t, n, i, s, a, c) {
      e[n] = e[n] || function () { (e[n].q = e[n].q || []).push(arguments) }
        ; a = t.createElement(i); c = t.getElementsByTagName(i)[0]; a.async = true; a.src = s
        ; c.parentNode.insertBefore(a, c)
    })(window, document, "galite", "script", "https://cdn.jsdelivr.net/npm/ga-lite@2/dist/ga-lite.min.js");
    galite('create', '{% ga_tracking_id %}', 'auto');
    galite('send', 'pageview');
  </script> {% endif %}

  <!-- SEO: add link to social networks -->
  <script type="application/ld+json">
  {
    "@context" : "http://schema.org",
    "@type" : "Blog",
    "name" : "miguelgfierro",
    "url" : "{% http_or_https %}{% current_site %}",
    "logo": "{% http_or_https %}{% current_site %}/static/blog/img/hoaphumanoid.png",
    "sameAs" : [
      "{% twitter_url %}",
      "{% linkedin_url %}",
      "{% github_url %}"
    ]
  }
  </script>

  <!-- Facebook Pixel Code -->
  <script>
    !function (f, b, e, v, n, t, s) {
      if (f.fbq) return; n = f.fbq = function () {
        n.callMethod ?
          n.callMethod.apply(n, arguments) : n.queue.push(arguments)
      };
      if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
      n.queue = []; t = b.createElement(e); t.async = !0;
      t.src = v; s = b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t, s)
    }(window, document, 'script',
      'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '2573724289540878');
    fbq('track', 'PageView');
  </script>
  <noscript>
    <img height="1" width="1" style="display:none"
      src="https://www.facebook.com/tr?id=2573724289540878&ev=PageView&noscript=1" />
  </noscript>
  <!-- End Facebook Pixel Code -->

</head>

<!-- Navigation bar -->
<header>
  <div class="navigation-bar">
    <div class="navigation-bar-container">
      <a class="navigation-bar-home" href="/"></a>
      <nav>
        <a href="#" id="menu-icon"></a>
        <ul>
          <li>
            <a href="/">Home</a>
          </li>
          {% for aboutp in about_pages %}
          <li>
            <a href="{{ aboutp.url }}">About</a>
          </li>
          {% endfor%}
          <li>
            <a href="https://feedburner.google.com/fb/a/mailverify?uri=miguelgfierro&amp;loc=en_US">Subscribe</a>
          </li>
          <form action="/search" method="GET" class="navigation-bar-search">
            <input class="navigation-bar-search-input" type="text" placeholder="Search..." name="q">
            <button type="submit" class="navigation-bar-search-icon"></button>
          </form>
        </ul>
      </nav>
    </div>
  </div>

</header>

{% block content %} {% endblock %}

<!-- Linkedin Insight Tag -->
<script type="text/javascript">
  _linkedin_partner_id = "{% linkedin_partner_id %}";
  window._linkedin_data_partner_ids = window._linkedin_data_partner_ids || [];
  window._linkedin_data_partner_ids.push(_linkedin_partner_id);
</script>
<script type="text/javascript">
  (function () {
    var s = document.getElementsByTagName("script")[0];
    var b = document.createElement("script");
    b.type = "text/javascript"; b.async = true;
    b.src = "https://snap.licdn.com/li.lms-analytics/insight.min.js";
    s.parentNode.insertBefore(b, s);
  })();
</script>
<noscript>
  <img height="1" width="1" style="display:none;" alt=""
    src="https://px.ads.linkedin.com/collect/?pid={% linkedin_partner_id %}&fmt=gif" />
</noscript>
</body>

</html>