{% extends "blog/post_base.html" %}
{% load staticfiles %}
{% load social %}
{% load analytics %}
{% load current_site %}
{% load disqus_tags %}
{% set_disqus_url object.get_absolute_url %}
{% set_disqus_title object.title %}
{% disqus_dev %}
{% set_disqus_developer 1 %}

{% block title %}
        {{ object.title }}
{% endblock %}

{% block headers %}
    <!-- meta tags -->
    <meta name="description" content="{{ object.meta_description }}">
    <meta name="author" content="{{ object.authors }}">
    <link rel="canonical" href="{% http_or_https %}{{ object.site }}{{ object.get_absolute_url }}">

    <!-- Open tag for Facebook. Add here your app_id -->
    <meta property="fb:app_id"              content="{% facebook_id %}"/>
    <meta property="og:url"                 content="{% http_or_https %}{{ object.site }}{{ object.get_absolute_url }}" />
    <meta property="og:type"                content="article" />
    <meta property="og:title"               content="{{ object.title }}" />
    <meta property="og:description"         content="{{ object.abstract }}" />
    <meta property="og:image"               content="{% http_or_https %}{% current_site %}{% static 'blog/img/hoaphumanoid.png' %}" />

    <!-- Script MathJax to add latex code to the page (only loaded if there are latex formulas) -->
    {% if object.has_latex_formula %}
        <!--<script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>-->
	    <script data-cfasync="false"  src="{% static 'blog/js/MathJax/MathJax.js' %}?config=TeX-AMS-MML_HTMLorMML" type="text/javascript" ></script>
        <script data-cfasync="false" >
            MathJax.Hub.Config({"HTML-CSS": { preferredFont: "TeX", availableFonts: ["STIX","TeX"], linebreaks: { automatic:true }, EqnChunk: (MathJax.Hub.Browser.isMobile ? 10 : 50) },
                tex2jax: { inlineMath: [ ["$", "$"], ["\\\\(","\\\\)"] ], displayMath: [ ["$$","$$"], ["\\[", "\\]"] ], processEscapes: true, ignoreClass: "tex2jax_ignore|dno" },
                TeX: {  noUndefined: { attributes: { mathcolor: "red", mathbackground: "#FFEEEE", mathsize: "90%" } }, Macros: { href: "{}" } },
                messageStyle: "none"
            });
        </script>
    {% endif %}

{% endblock %}


{% block content %}

<!--Facebook share dialog script -->
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '{% facebook_id %}',
      xfbml      : true,
      version    : 'v2.5'
    });
  };
  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
FB.ui({
  method: 'share_open_graph',
  action_type: 'og.likes',
  action_properties: JSON.stringify({
      object:'{% http_or_https %}{{ object.site }}{{ object.get_absolute_url }}',
  })
}, function(response){});
</script>


<div class="container" itemscope itemtype="http://schema.org/Article">
    <!-- Social buttons -->
    <div class="row">
        <div class="two columns">&nbsp;</div>
        <div class="twelve columns">
            <div class="social-icons">
                <a class="social-icons-fb"  href="https://www.facebook.com/dialog/share?app_id={% facebook_id %}&display=popup&href={% http_or_https %}{{ object.site }}{{ object.get_absolute_url }}&redirect_uri=http://{{ object.site }}{{ object.get_absolute_url }}">
                </a>
                <a class="social-icons-tw"  href="https://twitter.com/intent/tweet?text={{ object.title }}&url={% http_or_https %}{{ object.site }}{{ object.get_absolute_url }}&via={% twitter_handle %}">
                </a>
                <a class="social-icons-gp"  href="https://plus.google.com/share?url={% http_or_https %}{{ object.site }}{{ object.get_absolute_url }}">
                </a>
                <a class="social-icons-lk"  href="https://www.linkedin.com/shareArticle?mini=true&text={{ object.title }}&url={% http_or_https %}{{ object.site }}{{ object.get_absolute_url }}&summary={{ object.abstract }}">
                </a>
                <a class="social-icons-email"  href="mailto:?subject={{ object.title }}&body=Check out this article I read on Sciblog: {% http_or_https %}{{ object.site }}{{ object.get_absolute_url }}">
                </a>
                <a class="social-icons-whatsapp"  href="whatsapp://send?text={{ object.title }} {% http_or_https %}{{ object.site }}{{ object.get_absolute_url }}"  data-action="share/whatsapp/share">
                </a>
            </div>
        </div>
        <div class="two columns">&nbsp;</div>
    </div>

    <div class="row">
        <div class="one columns">&nbsp;</div>
        <div class="fourteen columns">
            <h1 itemprop="name" class="title"> {{ object.title }}</h1>
            <div itemscope itemtype="http://schema.org/Person">
            <div itemprop="author" class="author"> {{ object.authors }}</div>
            </div>
            <div class="submission-date"> {{ object.pub_date }}</div>
        </div>
        <div class="one columns">&nbsp;</div>
    </div>

    <div class="row" style="margin-bottom:10px">
        <div class="two columns">&nbsp;</div>
        <div class="twelve columns">
            <h3 class="abstract"> {{ object.abstract }}</h3>
        </div>
        <div class="two columns">&nbsp;</div>
    </div>

    {% if object.keywords %}
    <div class="row" style="margin-bottom:10px">
        <div class="two columns">&nbsp;</div>
        <div class="twelve columns">
            <h2 class="keywords">{{ object.keywords }}</h2>
        </div>
        <div class="two columns">&nbsp;</div>
    </div>
    {% endif %}

    <div class="row">
        <div class="one columns">&nbsp;</div>
        <div class="fourteen columns">
            {{ object.content|safe }}
        </div>
        <div class="one columns">&nbsp;</div>
    </div>
</div>



<!-- disqus comments
<div class="container-comments">
    <div class="row-comments">
        {% disqus_show_comments %}
    </div>
</div>-->

<!-- footer-->
<div class="footer container-footer" style="padding: 2rem 0rem 0.5rem;">
        <a href="{% twitter_url %}">Twitter</a> •
        <a href="{% linkedin_url %}">Linkedin</a> •
        <a href="{% rss_url %}">RSS</a>
      <br>
      Designed by Miguel González-Fierro -
      <a style="padding:0px;" href="https://github.com/hoaphumanoid/sciblog">Github</a>
</div>

{% endblock %}
