{% extends "desktop/blog/post_base.html" %}
{% load staticfiles %}
{% load social %}
{% load analytics %}
{% load current_site %}
{% load disqus_tags %}
{% set_disqus_url object.get_absolute_url %}
{% set_disqus_title object.title %}
{% disqus_dev %}
{% set_disqus_developer 1 %}

{% block title %}
{{ object.title }}
{% endblock %}

{% block headers %}
<!-- meta tags -->
<meta name="description" content="{{ object.meta_description }}">
<meta name="author" content="{{ object.authors }}">
<link rel="canonical" href="{% http_or_https %}{{ object.site }}{{ object.get_absolute_url }}">

<!-- Open tag -->
<meta property="og:url" content="{% http_or_https %}{{ object.site }}{{ object.get_absolute_url }}" />
<meta property="og:type" content="article" />
<meta property="og:title" content="{{ object.title }}" />
<meta property="og:description" content="{{ object.abstract }}" />
<meta property="og:image" content="{% http_or_https %}{% current_site %}{% static 'blog/img/hoaphumanoid.png' %}" />
<meta property="og:image:type" content="image/jpeg">
<meta name="twitter:card" content="summary_large_image">

<!-- SEO: add link to social networks. For checking https://search.google.com/structured-data/testing-tool/u/0/ -->
<script type="application/ld+json">
    {
      "@context" : "http://schema.org",
      "@type" : "Article",
      "headline": "{{ object.title }}",
      "datePublished": "{{ object.pub_date }}",
      "mainEntityOfPage":{
        "@type":"WebPage",
        "@id":"{% http_or_https %}{{ object.site }}{{ object.get_absolute_url }}"
      },
      "image": {
        "@type": "ImageObject",
        "url": "{% http_or_https %}{% current_site %}/static/blog/img/hoaphumanoid.png",
        "height": 460,
        "width": 460
      },
      "inLanguage": "en-US",
	  "isFamilyFriendly": "true",
      "author": {
        "@type": "Person",
        "name": "Miguel González-Fierro",
        "sameAs": [
            "{% twitter_url %}",
            "{% linkedin_url %}",
            "{% github_url %}" 
        ]
      },
       "publisher": {
        "@type": "Organization",
        "name": "Miguel González-Fierro",
        "url": "{% http_or_https %}{% current_site %}",
        "sameAs": [
            "{% twitter_url %}",
            "{% linkedin_url %}",
            "{% github_url %}" 
        ],
        "logo": {
          "@type": "ImageObject",
          "url": "{% http_or_https %}{% current_site %}/static/blog/img/favicon-180x180.png",
          "width": 180,
          "height": 180
        }
      },
      "description": "{{ object.abstract }}"
    }
</script>

<!-- Script MathJax to add LaTeX code to the page (only loaded if there are LaTeX formulas) -->
{% if object.has_latex_formula %}
<!--<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.6.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>-->
<script data-cfasync="false" src="{% static 'blog/js/MathJax/MathJax.js' %}?config=TeX-AMS-MML_HTMLorMML"
    type="text/javascript"></script>
<script data-cfasync="false">
    MathJax.Hub.Config({
        "HTML-CSS": { preferredFont: "TeX", availableFonts: ["STIX", "TeX"], linebreaks: { automatic: true }, EqnChunk: (MathJax.Hub.Browser.isMobile ? 10 : 50) },
        tex2jax: { inlineMath: [["$", "$"], ["\\\\(", "\\\\)"]], displayMath: [["$$", "$$"], ["\\[", "\\]"]], processEscapes: true, ignoreClass: "tex2jax_ignore|dno" },
        TeX: { noUndefined: { attributes: { mathcolor: "red", mathbackground: "#FFEEEE", mathsize: "90%" } }, Macros: { href: "{}" } },
        messageStyle: "none"
    });
</script>
{% endif %}

{% endblock %}


{% block content %}


<!-- Page columnizer -->
<!--<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>-->
<script src="{% static 'blog/js/jquery.min.js' %}" type="text/javascript"></script>
<script src="{% static 'blog/js/jquery.columnizer.min.js' %}" type="text/javascript" charset="utf-8"></script>
<script>
    $(function () {
        var content_height;
        var page = 1;
        function buildNewsletter() {
            var content_lenght = $('#blogContent').contents().length
            if ($('#blogContent').contents().length > 0) {
                console.log("$('#blogContent').contents().length = ", content_lenght)
                if (page == 1) {
                    content_height = 650;
                    $page = $(".page_title:first").clone().addClass("texto").css("display", "block");
                }
                else {
                    content_height = 1150;
                    $page = $(".page_template:first").clone().addClass("texto").css("display", "block");
                }
                $("body").append($page);
                page++;
                // here is the columnizer magic
                $('#blogContent').columnize({
                    columns: 2,
                    target: ".texto:last .content",
                    overflow: {
                        height: content_height,
                        id: "#blogContent",
                        doneFunc: function () {
                            console.log("done with page", page - 1);
                            buildNewsletter();
                        }
                    }
                });
            }
            else {
                console.log("$('#blogContent').contents().length <= 0");
                $("body").append($(".container-comments"));
                $("body").append($(".footer"));
                console.log("Page building finished");
            }
        }
        buildNewsletter();
    });
</script>

<!-- Page building -->
<div class="page_title">
    <div class="container">
        <!-- Social buttons -->
        <div class="row">
            <div class="six columns">&nbsp;</div>
            <div class="four columns">
                <div class="social-icons">
                    <a class="social-icons-fb" target="_blank"
                        href="https://www.facebook.com/sharer/sharer.php?u={% http_or_https %}{{ object.site }}{{ object.get_absolute_url }}&amp;src=sdkpreparse">
                    </a>
                    <a class="social-icons-tw" target="_blank"
                        href="https://twitter.com/intent/tweet?text={{ object.title }}&url={% http_or_https %}{{ object.site }}{{ object.get_absolute_url }}&via={% twitter_handle %}">
                    </a>
                    <a class="social-icons-lk" target="_blank"
                        href="https://www.linkedin.com/shareArticle?mini=true&text={{ object.title }}&url={% http_or_https %}{{ object.site }}{{ object.get_absolute_url }}&summary={{ object.abstract }}">
                    </a>
                    <a class="social-icons-email" target="_blank"
                        href="mailto:?subject={{ object.title }}&body=Check out this article I read on Sciblog: {% http_or_https %}{{ object.site }}{{ object.get_absolute_url }}">
                    </a>
                </div>
            </div>
            <div class="six columns">&nbsp;</div>
        </div>

        <div class="row">
            <div class="three columns">&nbsp;</div>
            <div class="ten columns">
                <h1 class="title"> {{ object.title }}</h1>
                <div class="author"> {{ object.authors }}</div>
                <div class="submission-date"> {{ object.pub_date }}</div>
            </div>
            <div class="three columns">&nbsp;</div>
        </div>

        <div class="row" style="margin-bottom:10px">
            <div class="four columns">&nbsp;</div>
            <div class="eight columns">
                <h3 class="abstract"> {{ object.abstract }}</h3>
            </div>
            <div class="four columns">&nbsp;</div>
        </div>

        {% if object.keywords %}
        <div class="row" style="margin-bottom:10px">
            <div class="four columns">&nbsp;</div>
            <div class="eight columns">
                <h2 class="keywords">{{ object.keywords }}</h2>
            </div>
            <div class="four columns">&nbsp;</div>
        </div>
        {% endif %}

        <div class="row">
            <div class="two columns">&nbsp;</div>
            <div class="twelve columns content"></div>
            <div class="two columns">&nbsp;</div>
        </div>
    </div>
</div>

<div class="page_template">
    <div class="container">
        <div class="row">
            <div class="two columns">&nbsp;</div>
            <div class="twelve columns content"></div>
            <div class="two columns">&nbsp;</div>
        </div>
    </div>
</div>

<div id="blogContent" style="display: none">
    {{ object.content|safe }}
</div>

<!-- disqus comments -->
<div class="container-comments">
    <div class="row-comments">
        {% disqus_show_comments %}
    </div>
</div>

<!-- footer -->
<div class="footer container-footer" style="padding: 2rem 0rem 0.5rem;">
    <a href="{% twitter_url %}" target="_blank">Twitter</a> •
    <a href="{% linkedin_url %}" target="_blank">Linkedin</a> •
    <a href="{% rss_url %}" target="_blank">RSS</a> •
    {% for aboutp in about_pages %}
    <a href="{% http_or_https %}{% current_site %}{{ aboutp.url }}" target="_blank">About</a> •
    {% endfor%}
    {% for privacyp in privacy_pages %}
    <a href="{% http_or_https %}{% current_site %}{{ privacyp.url }}" target="_blank">Privacy</a>
    {% endfor%}
    <br>
    Designed by Miguel González-Fierro -
    <a style="padding:0px;" href="https://github.com/miguelgfierro/sciblog" target="_blank">Github</a>
</div>

<!-- FB share button -->
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v10.0"
    nonce="lNrh4WqA">
    </script>



{% endblock %}